# SSH tunnel service
# This file is a systemd unit that defines the service.

# Fedora systemd documentation
# https://fedoraproject.org/wiki/Packaging:Systemd

# See: systemd.service
# https://www.freedesktop.org/software/systemd/man/latest/systemd.service.html

[Unit]
Description=SSH reverse tunnel service
# Launch when networking is ready
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
# SSH client:
# https://manpages.debian.org/testing/openssh-client/ssh.1.en.html
# Configuation options:
# https://manpages.debian.org/stretch/openssh-client/ssh_config.5.en.html
# They important command is '-R $bind_port:localhost:$remote_port'
# This tells the SSH server on the remote host to forward traffic from the specified $bind_port
# on the remote host to the specified $remote_port on your local machine (localhost). This allows
# you to access services running on your local machine from the remote host.
# These options help to keep the SSH tunnel connected in the event of network problems.
# Option descriptions:
#  -i: Private key file path
#  -N: Do not execute a remote command
#  -T: Disable pseudo-terminal allocation.
#  -R: Reverse tunnel port forwarding (bind remote to local ports)
#  -o ServerAliveInterval: Every x seconds, check the connection remains alive
#  -o ServerAliveCountMax: If the server doesn't respond after x attempts, fail
#  -o ExitOnForwardFailure: Fail if tunnel couldn't be created
ExecStart=/usr/bin/ssh ${DESTINATION} -i ${IDENTITY_FILE} -R ${BIND_PORT}:localhost:22 -NT -o ServerAliveInterval=30 -o ServerAliveCountMax=5 -o ExitOnForwardFailure=yes
Restart=always
# On failure, wait 5 seconds before restarting
RestartSec=5
# Send a SIGTERM signal to the main process
KillMode=mixed

[Install]
# Run this on system start-up
WantedBy=multi-user.target
